/******************* PHONE *******************/
body {
    /* background: linear-gradient(to right, #F7F3F0 0%, #F7F3F0 50%, #DAECF3 50%, #DAECF3 100%); */
    background-color: #F7F3F0;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    max-width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 4%;
    color: white;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #FE424D;
    text-align: center;
    padding: 0;
}

div {
    text-align: right;
    padding-top: 0;
    margin-top: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: Black;
    background: rgba(247, 247, 247, 0.3);
    text-transform: uppercase;
    font-size: 100%;
    margin-left: 0px;
    margin-right: -30px;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/******** NAV BAR *******/
/* Style the navigation menu */

/* Style the active link (or home/logo) */
.topnav {
    overflow: hidden;
    background-color: #F7F3F0;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #1AA6B7;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.topnav a.icon {
    background: #F7F3F0;
    color: #1AA6B7;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #F7F3F0;
    color: #F7F3F0;
}

.logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 11%;
}

/******** main *******/
main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #022D41;
    overflow: hidden;
    align-self: center;
}


/******** Footer *******/
footer {
    background-color: rgba(247, 243, 240, 0.76);
    color: #022D41;
    padding: 5%;
    padding-bottom: 1%;
    bottom: 0;
    text-align: center;
}

footer img {
    width: 20px;
    padding: 20px;
}



/******************* TABLET *******************/
@media only screen and (min-width:42em) {

    .topnav a.icon {
        background: #F7F3F0;
        color: #1AA6B7;
        display: block;
        position: absolute;
        padding-right: 35px;
        padding-top: 35px;
        font-size: x-large;
    }

    main {
        background-color: #022D41;
        overflow: hidden;
        align-self: stretch;
    }

}

/******************* DESKTOP *******************/
@media only screen and (min-width:55em) {

    div {
        text-align: left;
        margin-top: 5px;
    }

    .topnav {
        overflow: hidden;
        background-color: #F7F3F0;
        margin-bottom: 15px;
    }
    
    .topnav #myLinks {
        display: inline;
        padding: 50px;
    }
    
    .topnav a {
        color: #1AA6B7;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 108%;
        display: inline;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }
    
    .topnav a.icon {
        display: none;
    }
    /** main **/

    .header {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 11%;
    }

    .logo {
        width: 10%;
        display: inline;
        padding-top: 1%;
        padding-left: 3%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        background-color: #022D41;
        overflow: hidden;
        align-self: stretch;
    }



}