@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');


/********************** SMALL **********************/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
    margin: 0px;
}

.group {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15px;
    padding: 10px;
}

.quote {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #FE424D;
    line-height: 50px;
}

.quote p {
    font-family: 'Bodoni Moda', serif;
    font-size: large;
    text-align: left;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 2px;
    display: block;
    background-color:#F7F3F0;
}

.intro {
    padding: 10%;
}
.intro p {
    color: #DAECF3;
    text-align: justify;
    letter-spacing: 1px;
}

/******************* TABLET *******************/
@media only screen and (min-width:42em) {

    .quote p{
        padding-top: 5%;
        padding-bottom: 5%;
    }    
}



/******************* DESKTOP *******************/
@media only screen and (min-width:55em) {

main {
    padding-left: 20%;
    padding-right: 20%;
}

.group {
    width: 70%;
    margin-top: 0px;
    padding: 30px;
    padding-top: 0;
    display: block;
}

.quote {
    width: 100%;
    margin-left: 0;
    display: none;
}
.intro {
    padding-top: 0;
    padding-bottom: 15%;
}

.intro p {
    text-align: justify;
    letter-spacing: 1px;
}

}