body {
   /* background: linear-gradient(to right, #F7F3F0 0%, #F7F3F0 50%, #DAECF3 50%, #DAECF3 100%); */
   background-color: #F7F3F0;
   padding: 0;
   margin: 0;
}
html {
    overflow-x: hidden;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 4%;
    color:white;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #FE424D;
    text-align: center;  
    padding: 0;
}

div {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

h2 { 
    font-family: 'Montserrat', sans-serif;
    color: Black;
    background: rgba(247, 247, 247, 0.3);
    text-transform: uppercase;
    font-size: 100%;
    margin-left: 0px;
    margin-right: -30px;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/******** NAV BAR *******/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(247, 243, 240, 0.76);
    top: 0;
    width: 100%;
    padding-left: 5%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1AA6B7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
    text-transform: uppercase;
  }
  
  /*li a:hover {
    background-color: #1AA6B7;
    color: white;
  } */

  .main-nav {
      display: flex;
  }
  .push {
      margin-left: auto;
      padding-right: 5%;
      margin: 0;
      padding: 0;
  }

  .logo {
    width: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 11%;
}

/******** main *******/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #022D41;
    overflow: hidden;
}

.about {
    grid-column: 2;
    grid-row: 1;
}

.contact {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: center;
}

.newsletter {
    grid-column: 2;
    grid-row: 3;
}

.area {
    grid-column: 3;
    grid-row: 2;
}

.latest {
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

.past {
    grid-column: 3;
    grid-row: 1;
    position: relative;
}

.lead {
    grid-column: 1;
    grid-row: 3;
    position: relative;
}

.recipe {
    grid-column: 3;
    grid-row: 3;
    position: relative;
}

.middle {
    grid-column: 2;
    grid-row: 2;
    position: relative;
}

.tile {
    width: 100%;
}
/******** Footer *******/
footer {
    background-color: #022D41;
    color: white;
    padding: 5%;
    padding-bottom: 1%;
    bottom: 0;
}

footer img {
    width: 4%;
    padding: 1%;
}

.socialIcons {
    margin-left: 45%;
}

