body {
   /* background: linear-gradient(to right, #F7F3F0 0%, #F7F3F0 50%, #DAECF3 50%, #DAECF3 100%); */
   background-color: #F7F3F0;
   padding: 0;
   margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 4%;
    color:#1AA6B7;
    text-transform: uppercase;
}

h3 {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: 30px;
    color: #FE424D;
    text-align: center;  
    padding: 0;
}

div {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

h2 { 
    font-family: 'Bodoni Moda', serif;
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    display: inline-block;
    padding: 0;
    padding-left: 10px;

}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/******** NAV BAR *******/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(247, 243, 240, 0.76);
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 5%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1AA6B7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
  }
  
  /*li a:hover {
    background-color: #1AA6B7;
    color: white;
  } */

  .main-nav {
      display: flex;
  }
  .push {
      margin-left: auto;
      padding-right: 5%;
      margin: 0;
      padding: 0;
  }

  .logo {
    width: 20%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 11%;
}

/******** body *******/

.articleImg {
    width: 25%;
    padding: 3%;
}

.popArt {
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.popArt h3 {
    padding-left: -4%;
}

.quote {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: x-large;
    color: #1AA6B7;
    background-color: #DAECF3;
    padding-top: 0;
    padding-bottom: 0;
}

.quote p {
    grid-column: 2;
    padding: 5%
}

.quote img {
    grid-row: 1;
    grid-column: 1;
}
.latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.events {
    border: solid #022D41;
    margin: 10%;
    margin-top: 6%;
}

.addPadding {
    padding: 3%;
}

.newsletter {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.latestImg {
    width: 50%;
    padding: 3%;
}


/******** Footer *******/
footer {
    background-color: #022D41;
    color: white;
    padding: 5%;
    padding-bottom: 1%;
}

footer img {
    width: 4%;
    padding: 1%;
}

.socialIcons {
    margin-left: 45%;
}